
    <!---Start-main-section-->
    <section class="page-slider">
        <div class="hero-banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="banner-title">About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-slider-img">
                            <img src="~/images/about-slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Main-section-->
    <!---Start-who-we-are-section-->
    <section class="ws-section-spacing who-we-are">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h2 class="title">Who We Are?</h2>
                    <p class="who-we">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Donec quam felis ultricies.</p>
                    <p class="who-we">Nulla consequat massa quis enim Donec pede justo fringilla vele aliquet nec vulputate eget arcu. In enim justo rhoncus imperdieti venenatis vitae justo. Nullam dictum felis eu pede mollis pretiumg Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula porttitor conse vitae eleifend acenim. Aliquam lorem ante, dapibus in viverra quis feugiat a tellus.</p>
                    <p class="who-we">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="who-img">
                        <img src="~/images/about-img.png" class="wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-who-we-are-section-->
    <!---Start-Features-section-->
    <section class="section-spacing gray-bg">
        <div class="container">
            <div class="row service-border">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="~/images/01.png" alt="img">
                        </div>
                        <div class="wrap-details">
                            <h5>Customer Support</h5>
                            <p>Lorem ipsum dolor sit amet elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="~/images/02.png" alt="img">
                        </div>
                        <div class="wrap-details">
                            <h5>Secured Payment</h5>
                            <p>Lorem ipsum dolor sit amet elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="~/images/03.png" alt="img">
                        </div>
                        <div class="wrap-details">
                            <h5>Free Home Delivery</h5>
                            <p>Lorem ipsum dolor sit amet elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="~/images/04.png" alt="img">
                        </div>
                        <div class="wrap-details">
                            <h5>30 Day Reuters</h5>
                            <p>Lorem ipsum dolor sit amet elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Features-section-->
    <!---Start-Trending-Product-section-->
    <section class="ws-section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">Trending Products</h2>
                    <div class="saprater bottom-spacing">
                        <ul>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="row">
                <div class="product-slider">
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>  <span>$25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Trending-Product-Section-->
    <!---Start-Blog-Section-->
    <section class="ws-section-spacing blog-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title">Read Our Latest Stories</h3>
                    <div class="saprater title-bottom-spacing">
                        <ul>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-01.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="#">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-02.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="#">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-03.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="#">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Blog-Section-->
    