
    <!---Start-main-section-->
    <section class="page-slider">
        <div class="hero-banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="banner-title">Blogs</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-slider-img">
                            <img src="~/images/about-slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Main-section-->
    <!---Start-Blog-Section-->
    <section class="ws-section-spacing">
        <div class="container">
            <div class="row  justify-content-center">
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-01.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-02.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-03.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-01.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-02.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-03.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-01.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-02.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="~/images/blog-03.jpg" alt=""> <span class="date">25 May 2021</span>
                        </div>
                        <div class="blog-content">
                            <ul class="meta-tag">
                                <li>
                                    <a href="#">By Admin</a>
                                </li>
                                <li>
                                    <a href="#">Comment (15)</a>
                                </li>
                                <li>
                                    <a href="#">Likes (25)</a>
                                </li>
                            </ul>
                            <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                            <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                        </div>
                    </div>
                </div>
                <!---pagination-->
                <nav aria-label="Page navigation example" class="navigation-btn ">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">....</a></li>
                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!---End-Blog-Section-->
    