<!-- End-Menu-area-->
<main class="main-div home-slider">
    <div class="slider-bg ">
        <div class="hero-slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1">
                            <h2 class="hero-sub-title">Hoş Geldiniz!</h2>
                            <h1 class="hero-title">Enstrüman<span> Dünyam </span></h1>
                            <p class="hero-text">Tüm enstrümanlarımızda Türkiye'nin her yerine ücretsiz teslimat ve kurulum fırsatı</p>
                            
                            <a href="index.html" class="slider-btn">Enstrümanlar</a>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="~/images/keman-anasayfa.jpg" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-bg ">
        <div class="hero-slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1">
                            <h2 class="hero-sub-title">New Arrivals</h2>
                            <h1 class="hero-title">Shoe <span> Collaction </span></h1>
                            <p class="hero-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                            <a href="index.html" class="slider-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="~/images/slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-bg ">
        <div class="hero-slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1">
                            <h2 class="hero-sub-title">New Arrivals</h2>
                            <h1 class="hero-title">Shoe <span> Collaction </span></h1>
                            <p class="hero-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                            <a href="index.html" class="slider-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="~/images/slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!---End-Main-Section-->
<!---Category-Section-->
<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="client-Slider">
                <div class="home-category">
                    <span><img src="~/images/gitar-anasayfa.jpg" alt=""></span>
                    <h5><a href="shop.html">Telli Çalgılar</a></h5>
                </div>
                <!--item-->
                <div class="home-category">
                    <span><img src="~/images/klarnet-anasayfa.jpg" alt=""></span>
                    <h5><a href="shop.html">Nefesli Çalgılar</a></h5>
                </div>
                <!--item-->
                <div class="home-category">
                    <span><img src="~/images/vurmali-calgilar-anasayfa.jpg" alt=""></span>
                    <h5><a href="shop.html">Vurmalı Çalgılar</a></h5>
                </div>
                <!--item-->
                <div class="home-category">
                    <span><img src="~/images/yayli-calgilar-anasayfa.jpg" alt=""></span>
                    <h5><a href="shop.html">Yaylı Çalgılar</a></h5>
                </div>
                <!--item-->
                <div class="home-category">
                    <span><img src="~/images/tuslu-calgilar-anasayfa.jpg" alt=""></span>
                    <h5><a href="shop.html">Tuşlu Çalgılar</a></h5>
                </div>
                <!--item-->
                <div class="home-category">
                    <span><img src="~/images/mobile.png" alt=""></span>
                    <h5><a href="shop.html">Shoes</a></h5>
                </div>
                <!--item-->
            </div>
        </div>
    </div>
</section>
<!---Category-Section-->
<!---Start-Trending-Product-section-->
<section class="same-section-spacing">
    <div class="container">
        <div class="row">
            <div class="product-slider">
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="#" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
                <!--item-->
                <div class="new-collection-item">
                    <div class="new-collection-item-img">
                        <button class="wishlist noselect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                            </svg>
                        </button>
                        <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                    </div>
                    <div class="new-collection-item-content">
                        <ul class="item-rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                        <span>$25</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---End-Trending-Product-Section-->
<!---Category-Section-->
<section class="same-section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="offer-banner">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="offer-banner-content">
                                <h3>Get 50% OFF</h3>
                                <h5> On Women Collection</h5>
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="offer-banner-img wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
                                <img src="~/images/product-banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---item-->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="offer-banner">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="offer-banner-content">
                                <h3>Get 50% OFF</h3>
                                <h5> On Women Collection</h5>
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="offer-banner-img wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
                                <img src="~/images/02-product-banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Category-Section-->
<!---Start-Offer-Banner-Section-->
<section class="ws-section-spacing banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="banner-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1">
                    <h5>Get 50% Discount On</h5>
                    <h2>Best Price & Great Quality</h2>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
                    <a href="" class="buy-now">Shop Now</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="deal-img wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
                    <img src="~/images/drone.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!---End-Offer-Banner-Section-->
<!---Start-Offer-Banner-Section-->
<section class="ws-section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Trending Products</h2>
                <div class="saprater bottom-spacing">
                    <ul>
                        <li class="saprater-box"></li>
                        <li class="saprater-box"></li>
                        <li class="saprater-box"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="deal one-time">
                    <div class="product-offer">
                        <div class="product-offer-content">
                            <h6>Get 50% Discount On</h6>
                            <h2>Best Price & Great Quality</h2>
                            <p>Aenean imperdiet Etiam ultricies nisi vel augue Curabitur.</p>
                            <a href="" class="buy-now">Shop Now</a>
                        </div>
                        <img src="~/images/product-banner-img.png" alt="">
                    </div>
                    <div class="product-offer">
                        <div class="product-offer-content">
                            <h6>Get 50% Discount On</h6>
                            <h2>Best Price & Great Quality</h2>
                            <p>Aenean imperdiet Etiam ultricies nisi vel augue Curabitur.</p>
                            <a href="" class="buy-now">Shop Now</a>
                        </div>
                        <img src="~/images/product-banner-img.png" alt="">
                    </div>
                    <div class="product-offer">
                        <div class="product-offer-content">
                            <h6>Get 50% Discount On</h6>
                            <h2>Best Price & Great Quality</h2>
                            <p>Aenean imperdiet Etiam ultricies nisi vel augue Curabitur.</p>
                            <a href="" class="buy-now">Shop Now</a>
                        </div>
                        <img src="~/images/product-banner-img.png" alt="">
                    </div>
                </div>
            </div>
            <div class=" col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="new-collection-item">
                            <div class="new-collection-item-img">
                                <button class="wishlist noselect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                    </svg>
                                </button>
                                <img src="~/images/t1.png" class="wow zoomIn" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                                <a href="" class="add-to-cart"><i class="fas fa-cart-plus"></i>Add To Cart</a>
                            </div>
                            <div class="new-collection-item-content">
                                <ul class="item-rating">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                </ul>
                                <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Start-Blog-Section-->
<section class="ws-section-spacing blog-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Read Our Latest Stories</h3>
                <div class="saprater title-bottom-spacing">
                    <ul>
                        <li class="saprater-box"></li>
                        <li class="saprater-box"></li>
                        <li class="saprater-box"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
            <!--item-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="~/images/blog-01.jpg" alt=""> <span class="date">25 May 2021</span>
                    </div>
                    <div class="blog-content">
                        <ul class="meta-tag">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">Comment (15)</a>
                            </li>
                            <li>
                                <a href="#">Likes (25)</a>
                            </li>
                        </ul>
                        <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                        <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="~/images/blog-02.jpg" alt=""> <span class="date">25 May 2021</span>
                    </div>
                    <div class="blog-content">
                        <ul class="meta-tag">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">Comment (15)</a>
                            </li>
                            <li>
                                <a href="#">Likes (25)</a>
                            </li>
                        </ul>
                        <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                        <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="~/images/blog-03.jpg" alt=""> <span class="date">25 May 2021</span>
                    </div>
                    <div class="blog-content">
                        <ul class="meta-tag">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">Comment (15)</a>
                            </li>
                            <li>
                                <a href="#">Likes (25)</a>
                            </li>
                        </ul>
                        <h3><a href="blog-detail.html">Combined with a handful of model in fashion.</a></h3>
                        <p>Lorem ipsum dolor sit ameconsecte tur ing elit, sed do eiusmod tempor inc ididunt ut re et dolore magna dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---End-Blog-Section-->
<!---End-Offer-Banner-Section-->
<section class="section-spacing service-area">
    <div class="container">
        <div class="row service-border wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="~/images/01.png" alt="img">
                    </div>
                    <div class="wrap-details">
                        <h5>Customer Support</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="~/images/02.png" alt="img">
                    </div>
                    <div class="wrap-details">
                        <h5>Secured Payment</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="~/images/03.png" alt="img">
                    </div>
                    <div class="wrap-details">
                        <h5>Free Home Delivery</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="~/images/04.png" alt="img">
                    </div>
                    <div class="wrap-details">
                        <h5>30 Day Reuters</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>