
    <!---Start-main-section-->
    <section class="page-slider">
        <div class="hero-banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="banner-title">Product Detail</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-slider-img">
                            <img src="~/images/about-slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Main-section-->
    <!---Start-Product-Detail-->
    <section class="ws-section-spacing product-detail-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="product-img-nav-slider">
                                <div class="slider-nav">
                                    <div class="product-img-nav">
                                        <img src="~/images/01-product-img.jpg" alt="">
                                    </div>
                                    <!--item-->
                                    <div class="product-img-nav">
                                        <img src="~/images/02-product-img.jpg" alt="">
                                    </div>
                                    <!--item-->
                                    <div class="product-img-nav">
                                        <img src="~/images/03-product-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-img-slider">
                                <div class="slider-for">
                                    <div class="p-img">
                                        <img src="~/images/01-product-img.jpg" alt="">
                                    </div>
                                    <div class="p-img">
                                        <img src="~/images/02-product-img.jpg" alt="">
                                    </div>
                                    <div class="p-img">
                                        <img src="~/images/03-product-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--product-detail-->
                <div class="col-lg-6 col-md-6">
                    <div class="product-detail">
                        <h5>Ardene Microfiber T-Shirt</h5>
                        <p>Product Type - Jacket</p>
                        <div class="Start">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="product-detail-price">
                            <h3>$200<span>$500</span></h3>
                        </div>
                        <div class="stock">
                            <p>Availability : <span>IN STOCK</span></p>
                        </div>
                        <div class="size">
                            <ul>
                                <li>XS</li>
                                <li>S</li>
                                <li class="active">M</li>
                                <li>L</li>
                                <li>XL</li>
                                <li>XXL</li>
                            </ul>
                        </div>
                        <p class="product-discription">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        <div class="p-button">
                            <a href="#">Add To Cart</a>
                            <a href="my-cart.html" class="active">Buy Now</a>
                        </div>
                        <div class="share-icon">
                            <p>Share :</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" class="active"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Product-Detail-->
    <section>
        <div class="container">
            <!--review-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="review" id="accordion">
                        <div class="a-buttom">
                            <button id="headingOne" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Description
                            </button>
                            <button id="headingTwo" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Comment
                            </button>
                            <button id="headingThree" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Reviews
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card card-body">
                                <p class="p-discription">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
                                    dapibus in, viverra quis, feugiat a, tellus.
                                </p>
                                <p class="p-discription">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget.</p>
                                <div class="p-feature">
                                    <h5>Product Features :</h5>
                                    <ul>
                                        <li><i class="fas fa-angle-double-right"></i>Lorem ipsum dolor sit amet,</li>
                                        <li><i class="fas fa-angle-double-right"></i>Consectetuer adipiscing elit.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Aenean commodo ligula eget dolor.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Aenean commodo ligula eget dolor.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Penatibus et magnis dis parturient</li>
                                        <li><i class="fas fa-angle-double-right"></i>Montes nascetur ridiculus mus.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card card-body">
                                <p class="p-discription">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
                                    dapibus in, viverra quis, feugiat a, tellus.
                                </p>
                                <p class="p-discription">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget.</p>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card card-body">
                                <p class="p-discription">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
                                    dapibus in, viverra quis, feugiat a, tellus.
                                </p>
                                <div class="p-feature">
                                    <h5>Product Features :</h5>
                                    <ul>
                                        <li><i class="fas fa-angle-double-right"></i>Lorem ipsum dolor sit amet,</li>
                                        <li><i class="fas fa-angle-double-right"></i>Consectetuer adipiscing elit.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Aenean commodo ligula eget dolor.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Aenean commodo ligula eget dolor.</li>
                                        <li><i class="fas fa-angle-double-right"></i>Penatibus et magnis dis parturient</li>
                                        <li><i class="fas fa-angle-double-right"></i>Montes nascetur ridiculus mus.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---Start-Trending products-Section-->
    <section class="ws-section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title">Trending Products</h3>
                    <div class="saprater title-bottom-spacing">
                        <ul>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                            <li class="saprater-box"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="row">
                <div class="product-slider">
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                    <!--item-->
                    <div class="new-collection-item">
                        <div class="new-collection-item-img">
                            <button class="wishlist noselect">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 26 26">
                                    <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                                </svg>
                            </button>
                            <img src="~/images/t1.png" alt=""> <a href="" class="add-to-cart">Add To Cart</a>
                        </div>
                        <div class="new-collection-item-content">
                            <ul class="item-rating">
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <h5><a href="product-detail.html">Ardene Microfiber T-Shirt</a></h5>
                            <span>$25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End-Trending-Section-->
   